<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Meu Portifolio</title>
</head>
<body>
    
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <!--Menu lateral e lik das Redes-->
        <section class="profile">
            <img src="../static/img/ft_perfil2.jpeg" alt="Foto de Wesley">
            <h1>Wesley Luan</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/wesley-luan-581318203/">
                    <i class="bi bi-linkedin "></i>
                </a>
                <a target="_blank" href="https://github.com/LUANwesDEV">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://github.com/LUANwesDEV">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/wesley-luan-581318203/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </section>
        <!--/Menu lateral e lik das Redes-->
        
        <!--Menu lateral e icones-->
        <nav id="navbar" class="nav-menu"> 
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-list-task"></i> Meus projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark-check"></i> Curriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope-plus"></i> Contato</a>
                </li>
            </ul>
        </nav>
        <!--/Menu lateral e icones-->
    </aside>

    <main id="main">
        
        <section id="inicio" class="row m-0 p-0" >

            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-shadow">Wesley Luan</h2>
                <span id="subtitle" class="text-shadow">Proativo, Persistente e Comunicativo</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center voltar-inicio">
                    <i class="bi bi-arrow-up-square mr-2"></i>
                    <a class="" href="#inicio">Inicio</a>
                </div>
            </div>

        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Sou uma pessoa apaixonada pela tecnologia, com diversas possibilidades que pode ser feito e criado, isso pode facilitar ainda mais a vida das pessoas. Atualmente estou cursando Tecnólogo em Desenvolvimento de Sistemas na Etec, na busca de aprimorar cada dia meus conhecimentos.
                        Tenho boas práticas para me comunicar, gosto de trabalhar em equipe, estou sempre disposto a aprender, me considero dinâmico, proativo e persistente, acredito que adquirir conhecimento é a chave para a evolução.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 ">
                    <img class="img-sobre img-fluid shadow" src="../static/img/ft_perfil2.jpeg" alt="Foto do Wesley">
                </div>
                <div class="col-md-8">
                    <h3>Estudante em Desenvolvimento de Sistemas</h3>
                    <p>Atualmente estou cursando Tecnólogo em Desenvolvimento de Sistemas na Etec, na busca de aprimorar cada dia meus conhecimentos.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Aniversario: <span class="fw-lighter"> 03/05/2002</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 20 Anos</span>
                                </li>
                                <li class="list-group-item">
                                    cidade: <span class="fw-lighter"> São Paulo - SP</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter"> Futebol</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter"> Adquirindo</span>
                                </li>
                                
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>Participei do Bootcamp intensivo de 3 meses pela Generation Brasil de segunda a sexta-feira das 8:00 as 17:00. Desenvolvemos aplicações usando o Back end, banco de dados, front end e frameworks.</p>

                    
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Adquiri algumas habilidades tecnicas e não tecnicas durante estudo no Bootcamp e atualmente no Tecnologo. Todas estão de acordo com a porcetagem de 
                conhecimento que acredito ter em cada uma delas.
                </p>

            <div class="row">
                <div class="col-md-12 mt-2 ">
                    <div class="fs-1">
                        <i class="bi bi-filetype-html mr-3 icons-html"></i>
                        <i class="bi bi-filetype-css mr-3 icons-css"></i>
                        <i class="bi bi-filetype-js mr-3 icons-js"></i>
                    </div>
                    
                    <div class="fs-1">
                        <i class="bi bi-bootstrap-fill mr-3 icons-bootstrap"></i>
                        <i class="bi bi-git mr-3 icons-git"></i>
                        <i class="bi bi-github mr-3 icons-github"></i>
                    </div>

                </div>
            </div>

            </div>
            
        </section>

    </main>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script> 
    <script src="../static/script.js"></script>
</body>
</html>